<details>
  <summary>Testing</summary>

	<div>
		<p>This is a test block for the floating chat widget.</p>
		<p>It is designed to be used in a Shopify theme to provide a chat interface that appears after the user scrolls down the page.</p>
		<p>Make sure to replace the iframe source URL with your actual chat service URL.</p>
		<p>Test it by scrolling down the page to see if the chat widget appears.</p>
	</div>
</details>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('form[action^="/cart/add"]').forEach(function (form) {
      form.addEventListener('submit', function (e) {
        const formData = new FormData(form);
        const variantId = formData.get('id');

        window.dispatchEvent(new CustomEvent('product:selected', {
          detail: { variantId }
        }));
      });
    });
  });
</script>

{% schema %}
{
  "name": "Section player",
  "target": "section",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true, },
    { "type": "text", "id": "image_id", "label": "thumbs", "default": "message-square.svg" }
  ],
}
{% endschema %}